obj/
bin/
CronExpressionDescripter/bin
CronExpressionDescripter/obj
CronExpressionDescripter.Test/bin
CronExpressionDescripter.Test/obj
TestResults
CronExpressionDescripter.suo
CronExpressionDescripter/bin
CronExpressionDescripter/obj
CronExpressionDescripter.Test/bin
CronExpressionDescripter.Test/obj
TestResults
*.suo
.DS_Store
*.userprefs