
/src/CronExpressionHumanizer/bin
/src/CronExpressionHumanizer/obj
/src/CronExpressionHumanizer.Test/bin
/src/CronExpressionHumanizer.Test/obj
/src/CronExpressionHumanizer.suo
/src/Local.testsettings
/src/TraceAndTestImpact.testsettings
/src/CronExpressionHumanizer.vsmdi
/src/CronExpressionHumanizer/bin
/src/CronExpressionHumanizer/obj
/src/CronExpressionHumanizer.Test/bin
/src/CronExpressionHumanizer.Test/obj