<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cron Expression Descriptor</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css' />
    <link href='/css/style.css' rel='stylesheet' type='text/css' />
</head>
<body>
    <div class="container">
        <h1>Cron Expression Descriptor</h1>
        <h2>Describe Cron expressions as human readable text</h2>
        <form method="get" class="center-block" action="/">
            <input type="text" name="e" id="expression" placeholder="Cron Expression" value="@ViewBag.Expression" />
            <button type="submit" id="get-description" class="btn btn-success">Describe</button>
            @if (!string.IsNullOrEmpty(ViewBag.Description))
            {
                <hr />
                <div id="description">@ViewBag.Description</div>
            }
            <hr />
            <footer>
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li><a href="http://github.com/bradyholt/cron-expression-descriptor">GitHub</a></li>
                            <li><a href="http://www.nuget.org/packages/CronExpressionDescriptor/">NuGet</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-right">Running Cron Expression Descriptor <a href="http://www.nuget.org/packages/CronExpressionDescriptor/@ViewBag.ExpressionDescriptorVersion">version @ViewBag.ExpressionDescriptorVersion</a>
                        <p><a href="http://www.nuget.org/packages/CronExpressionDescriptor"><img alt="Downloads Count" src="https://img.shields.io/nuget/dt/CronExpressionDescriptor.svg"/></a></p>
                    </div>
                </div>
            </footer>
        </form>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js" />
</body>
</html>
