body {
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 50px;
    color: #8b8c8b;
    background: #e7e7e7 url(body-bg.png) 0 0 repeat;
}

.container {
    width: 710px;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 70px;
    text-transform: uppercase;
    color: black;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

h3 {
    margin-top: 0px;
    font-style: italic;
    font-size: 14px;
}

input#Expression {
    width: 535px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #858685;
    border-radius: 10px 0 0 10px;
    font-size: 45px;
    vertical-align: top;
    color: black;
}

button#get-description {
    height: 68px;
    margin-left: -8px;
    border-radius: 0 5px 5px 0;
    font-size: 32px;
    padding: 0 10px 0 10px;
    border: solid 1px #858685;
    border-left: none;
    text-transform: uppercase;
}

div#description {
    font-size: 30px;
    color: #659CEF;
    font-style: italic;
}

footer {
    font-size: 20px;
}

    footer ul {
        padding: 0px;
        list-style-type: none;
    }

hr {
    margin-bottom: 0px;
}

.examples {
    margin-top: 10px;
    text-align: center;
}
