<!--
    This file is deployed to the "cronexpressiondescriptor" App Service resource in Azure and simply redirects all 
    traffic from http://cronexpressiondescriptor.azurewebsites.net/ to https://bradymholt.github.io/cron-expression-descriptor/.
 -->
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <rewrite>
          <rules>
              <rule name="Redirect to GitHub Pages site" stopProcessing="true">
                  <match url=".*" />                  
                  <action type="Redirect" url="https://bradymholt.github.io/cron-expression-descriptor/" redirectType="Permanent" />
              </rule>              
          </rules>
      </rewrite>      
    </system.webServer>
  </location>
</configuration>
